node_modules/
test-results/
playwright-report/
blob-report/
/allure-results/
/allure-report/
reports/allure-results/*
reports/allure-report/
logs/*
screenshots/*
videos/*
traces/*
!reports/allure-results/.gitkeep
!logs/.gitkeep
!screenshots/.gitkeep
!videos/.gitkeep
!traces/.gitkeep
.env
test-data/createdUser.json
